
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background-color: #f4f8fb;
    color: #333;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #005b9f;
    margin-bottom: 25px;
}

h2 {
    color: #0077c8;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #0077c8;
    display: inline-block;
    padding-bottom: 5px;
}


nav {
    background-color: #005b9f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav_bar a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 500;
    transition: 0.3s;
}

.nav_bar a:hover {
    text-decoration: underline;
    color: #cce7ff;
}



form {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #0077c8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0077c8;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

thead {
    background-color: #0077c8;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #eaf4fb;
}

thead tr:hover {
    background-color: #0077c8;
}


nav {
    background-color: #005b9f;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

 a {
    color: rgb(10, 39, 79);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    form {
        width: 100%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        background: #0077c8;
        color: white;
    }

    tr {
        margin-bottom: 15px;
        background: white;
        border-radius: 10px;
        padding: 10px;
    }

    td {
        border: none;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #0077c8;
    }
}
